#------Maine------#
###git+https://github.com/Hydra-sjz/pyrogram.git
git+https://github.com/yasirarism/pyrofork
#Pyrogram==2.0.106
tgcrypto
python-dateutil
python-chess
python-dotenv
requests
asgiref 
apscheduler==3.10.4
pykeyboard
aiohttp==3.9.2 
asyncio
motor==2.5.1
aiofiles
pymongo[srv]==3.12.3

Flask
gunicorn==20.1.0
telegraph
datetime
beautifulsoup4
httpx[http2]
cachetools==6.1.0
feedparser==6.0.11

bs4
speedtest-cli
gTTS
wget
imdbpy
hachoir
asgiref
pillow
pytz~=2021.1



