#------Maine------#
###git+https://github.com/Hydra-sjz/pyrogram.git
git+https://github.com/yasirarism/pyrofork
#Pyrogram==2.0.106
tgcrypto
python-dateutil
python-dotenv
requests
asgiref 

pykeyboard
aiohttp==3.9.2 
asyncio
motor==2.5.1
aiofiles
pymongo[srv]==3.12.3

Flask
gunicorn==20.1.0
telegraph
datetime
